body {
  background-color:#E5E5E5;
}
h1 {
  font-family:'Open Sans',sans-serif;
  text-align:center;
  margin-top:200px;
  font-size:20em;
  color:#000066;
  padding-bottom:50px;
}
.nav {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  position:fixed;
  bottom:0px;
  width:100%;
  color:#4A4A4A;
}
.nav ul li {
  display:inline;
  color:#4A4A4A;
  font-size:50px;
  padding-left:10px;
  padding-right:10px;
}

